- let page = 2;

mixin pagination(className, pages)
  .pagination(class=`${className}__pagination`)
        .pagination__text Страница 1 из #{pages}
        .pagination__controls
          a.pagination__prev.pagination__arrows(href='#')
          ul.pagination__list
            li.pagination__item.pagination__item--active
              a.pagination__link(href='#') 1
            while page <= pages
              li.pagination__item.pagination__item
                a.pagination__link(href='#')= page++
          a.pagination__next.pagination__arrows(href='#')