include ../data/features-list
include ../mixins/icon-list

section.features
  .features__container.container.container--w740
    h2.section-title.features__header особенности
    +icon-list(features, 'features__list')
