section.feedback
  .feedback__container.container.container--w700
    .feedback__box.container
      h2.section-title.feedback__header.section-title--lowercase Оставить отзыв
      .feedback__form
        include ../sections/form

